<div class="admission-page">
    <div class="row toolbar">
        <div class="row col-xs-6 col-md-4"><img src="../styles/icons/512/ios7-bolt-outline.png" style="width:55px; height:55px;" class="logo"></div>
        <div class="row col-xs-6 col-md-4"></div>
        <div class="row col-xs-6 col-md-4">
            <p class="tabs"><span class="tabButton"><a href="#/home" class="tabLink">Home</a></span><span class="tabButton"><a href="#/academics" class="tabLink">Academics</a></span><span  class="tabButton"><a href="#/admission" class="tabLink">Admissions</a></span>  </p>
        </div>
    </div>
    <h1>test</h1>
    <iframe src="https://docs.google.com/forms/d/1UY5awoOVZ3pxunWoLq7n5gMuNgSt8rAp5nrpYRP8mtY/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
