<div class="admission-page">
    <div class="homeBox">
	<nav class="navbar navbar-default" style="background:transparent; border:0px solid transparent;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
<!--
      <button type="button" class="navbar-toggle collapsed" ng-model="collapsed" ng-click="collapsed=!collapsed" ng-click="collapse=!collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
-->
      <a class="navbar-brand" href="#/home"><img src="../styles/icons/512/ios7-bolt-outline.png" style="width:35px; height:35px;" class="logo"></a></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div ng-if="collapsed || collapse">


      <ul class="nav navbar-nav navbar-right">
        <li class="navButton"><a href="#"  class="blueBerry" style="color:white;">Home</a></li>
				<li class="navButton"><a href="#/academics" style="color:white;">Academics</a></li>
				<li class="navButton"><a href="#/admission" style="color:white;">Admissions</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<div class="row" style="margin-top:10%; margin-bottom:18%;">
		<div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
			<h1>Admissions</h1>
			<h1> <small>Join Our Community of Learners.</small> <a href="#" class="small"> Apply <i class="material-icons" style="font-size:20px;">arrow_forward</i></a> </h1>



<br>
				<button type="submit" class="standardButton">View Lottery Results</button>



		</div>
	</div>
	</div>


<div class="container11 row">
		<div style="width:90%; margin-left:10%">
				<h1><u>FAQ</u></h1>
			<div class="col-md-6">
				<div ng-repeat="question in faq" ng-if="question.num < 6">
				<a href="#/admission" style="text-decoration:none; color:white;"><p class="lead"  ng-click="isCollapsed = !isCollapsed">Q{{question.num}}. {{question.q}} <i class="material-icons" ng-if="!isCollapsed">keyboard_arrow_down</i><i class="material-icons" ng-if="isCollapsed">keyboard_arrow_up</i></p></a>
				<p class="lead"  uib-collapse="!isCollapsed" style="line-height:1.2; font-size:17px; font-weight:300;">A{{question.num}}. {{question.a}}.</p>
				<hr>
					</div>
			</div>
			<div class="col-md-6">
				<div ng-repeat="question in faq" ng-if="question.num > 5">
					<a href="#/admission"  style="text-decoration:none; color:white;"><p class="lead"  ng-click="isCollapsed = !isCollapsed">Q{{question.num}}. {{question.q}}<i class="material-icons" ng-if="!isCollapsed">keyboard_arrow_down</i><i class="material-icons" ng-if="isCollapsed">keyboard_arrow_up</i></p></a>
				<p class="lead"  uib-collapse="!isCollapsed" style="line-height:1.2; font-size:17px; font-weight:300;">A{{question.num}}. {{question.a}}.</p>
				<hr>
					</div>
			</div>
<!--
				<p class="lead"  ng-click="isCollapsed = !isCollapsed">1. How are charter schools funded?</p>
				<p class="lead"  uib-collapse="!isCollapsed">1. Charter schools are publicly funded based on student enrollment by local, state and federal tax dollars, just like other public schools.</p>
			<p class="lead"  ng-click="isCollapsed = !isCollapsed">1. How are charter schools funded?</p>
				<p class="lead"  uib-collapse="!isCollapsed">1. Charter schools are publicly funded based on student enrollment by local, state and federal tax dollars, just like other public schools.</p>
			<p class="lead"  ng-click="isCollapsed = !isCollapsed">1. How are charter schools funded?</p>
				<p class="lead"  uib-collapse="!isCollapsed">1. Charter schools are publicly funded based on student enrollment by local, state and federal tax dollars, just like other public schools.</p>
			<p class="lead"  ng-click="isCollapsed = !isCollapsed">1. How are charter schools funded?</p>
				<p class="lead"  uib-collapse="!isCollapsed">1. Charter schools are publicly funded based on student enrollment by local, state and federal tax dollars, just like other public schools.</p>
-->
		</div>

	</div>



</div>
