<div class="admission-page">
    <div class="homeBox">
	<div class="row toolbar">
		<div class="row col-xs-6 col-md-4"><a href="#/home"><img src="../styles/icons/512/ios7-bolt-outline.png" style="width:35px; height:35px;" class="logo"></a></div>
		<div class="row col-xs-6 col-md-4"></div>
		<div class="row col-xs-6 col-md-4">
			<p class="tabs"><span class="tabButton"><a href="#/home" class="tabLink">Home</a></span><span class="tabButton"><a href="#/academics" class="tabLink">Academics</a></span><span  class="tabButton"><a href="#/admission" class="tabLink">Admissions</a></span>  </p>
		</div>
	</div>
	<div class="row" style="margin-top:10%; margin-bottom:18%;">
		<div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
			<h1>Admissions</h1>
			<h1> <small>Join Our Community of Learners.</small> <a href="#" class="small"> Apply <i class="material-icons" style="font-size:20px;">arrow_forward</i></a> </h1>



<br>
				<button type="submit" class="standardButton">Learn More <i class="material-icons" style="font-size:13px;">keyboard_arrow_down</i></button>



		</div>
	</div>
	</div>
</div>
