<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="home-page">
	<div class="homeBox">
	<div class="row toolbar">
		<div class="row col-xs-6 col-md-4"><img src="../styles/icons/512/ios7-bolt-outline.png" style="width:35px; height:35px;" class="logo"></div>
		<div class="row col-xs-6 col-md-4"></div>
		<div class="row col-xs-6 col-md-4">
			<p class="tabs"><span class="tabButton"><a href="#/home" class="tabLink">Home</a></span><span class="tabButton"><a href="#/academics" class="tabLink">Academics</a></span><span  class="tabButton"><a href="#/admission" class="tabLink">Admissions</a></span>  </p>
		</div>
	</div>
	<div class="row" style="margin-top:10%; margin-bottom:18%;">
		<div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
			<h1>Spark School</h1>
			<h1> <small>Revolutionizing Charter Schools</small> <a href="#" class="small"> Questions? Let's Chat <i class="material-icons" style="font-size:20px;">arrow_forward</i></a> </h1>



<br>
				<button type="submit" class="standardButton">Learn More <i class="material-icons" style="font-size:13px;">keyboard_arrow_down</i></button>



		</div>
	</div>
	</div>
	<div class="container2">
		<div class="row padd">
			<h1><u>Vision</u></h1>
			<p class="lean">Our vision is to create a K-8 public school that utilizes hands-on projects, social-emotional learning, and family participation* to create a rich and academically rigorous educational program that will foster deeper learning, encourage creativity, and cultivate strong critical thinking, collaboration and communication skills.  We strive to integrate the arts, foreign language instruction, and physical education into the academic program. We are committed to creating a school that is racially, ethnically, and culturally diverse, reflecting the diversity of our community. </p>
			<button type="submit" class="standardButtonInverse">Learn More About Our Mission</button>
		</div>
	</div>
	<div class="container1">
		<div class="row">
			<div class="col-md-3" style="margin-left:30px; margin-top:20px;">
				<div class="panel panel-success">
  				<div class="panel-heading">Panel heading without title</div>
  					<div class="panel-body">
							<img src="../images/teach_empathy.png" style="width:230; height:182px; border-radius:10px;">
  					</div>
				</div>
				
			</div>
			<div class="col-md-3" style="margin-top:20px;">
				<div class="panel panel-success">
  				<div class="panel-heading">Panel heading without title</div>
  					<div class="panel-body">
							<img src="../images/teach_empathy.png" style="width:115; height:91px; border-radius:10px;">
  					</div>
				</div>
			</div>
			<div class="col-md-3" style="margin-top:20px;">
				<div class="panel panel-success">
  				<div class="panel-heading">Panel heading without title</div>
  					<div class="panel-body">
							<img src="../images/teach_empathy.png" style="width:115; height:91px; border-radius:10px;">
  					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer">
<form role="form" ng-submit="submit()">
	<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
					</div>

					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
					</div>
				</div>
					<button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Submit </button>

	</form>

</div>

</div>
