<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="home-page">
	<div class="homeBox">
	<div class="row toolbar">
		<div class="row col-xs-6 col-md-4"><img src="../styles/icons/512/ios7-bolt-outline.png" style="width:35px; height:35px;" class="logo"></div>
		<div class="row col-xs-6 col-md-4"></div>
		<div class="row col-xs-6 col-md-4">
			<p class="tabs"><span class="tabButton"><a href="#/home" class="tabLink">Home</a></span><span class="tabButton"><a href="#/academics" class="tabLink">Academics</a></span><span  class="tabButton"><a href="#/admission" class="tabLink">Admissions</a></span>  </p>
		</div>
	</div>
	<div class="row" style="margin-top:10%; margin-bottom:18%;">
		<div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
			<h1>Spark School</h1>
			<h1> <small>Revolutionizing Charter Schools</small> <a href="#" class="small"> Questions? Let's Chat <i class="material-icons" style="font-size:20px;">arrow_forward</i></a> </h1>



<br>
				<button type="submit" class="standardButton">Learn More <i class="material-icons" style="font-size:13px;">keyboard_arrow_down</i></button>



		</div>
	</div>
	</div>
	<div class="container2">
		<div class="row eight" style=" margin:0 auto;">
			<h1><u>Vision</u></h1>
			<p class="lean">Our vision is to create a K-8 public school that utilizes hands-on projects, social-emotional learning, and family participation* to create a rich and academically rigorous educational program that will foster deeper learning, encourage creativity, and cultivate strong critical thinking, collaboration and communication skills.  We strive to integrate the arts, foreign language instruction, and physical education into the academic program. We are committed to creating a school that is racially, ethnically, and culturally diverse, reflecting the diversity of our community. </p> 
			<button type="submit" class="standardButtonInverse" ng-click="open('lg')">Learn More About Our Vision</button>
		</div>
	</div>
	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Spark Charter's Vision and Philosophy</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
	
	<div class="container3 row">
		<div class="col-md-3" style="margin-top:25px;">
				<h2>About Us</h2>
		</div>	
		<div class="col-md-8" style="margin-top:25px;">
				<p class="lean">The Spark Charter academic program utilizes Project-based Learning, Social-Emotional Intelligence, and Parent Partnerships to provide a rigorous and holistic educational program. Our educational model is poised to foster deeper learning, encourage creativity, cultivate strong critical thinking, and promote collaboration and communication skills.  The visual and performing arts, STEAM, Mandarin language instruction, and physical education will be fully integrated into our instructional program. 
</p>
				
			</div>
		
		
	</div>
	
	
	<div class="container4">
		<div>
    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="height:100%; width:auto; overflow:hidden;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
 
	</div>
	<div class="container3 row">
			
		<div class="col-md-8" style="margin-top:25px; margin-left:30px;">
				<p class="lean">The Spark Charter academic program utilizes Project-based Learning, Social-Emotional Intelligence, and Parent Partnerships to provide a rigorous and holistic educational program. Our educational model is poised to foster deeper learning, encourage creativity, cultivate strong critical thinking, and promote collaboration and communication skills.  The visual and performing arts, STEAM, Mandarin language instruction, and physical education will be fully integrated into our instructional program. 
</p>
				
			</div>
		<div class="col-md-3" style="margin-top:25px;">
				<h2>About Us</h2>
		</div>
		
	</div>
	

	
	
	<div class="footer">
		<div class="col-md-6"> 
			<h1>Hello</h1>
			<p>What's up</p>
		</div> 
		<div class="col-md-6">
<form role="form" ng-submit="submit()">
	<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Email" style="color:green;">
					</div>

					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Password" style="color:green;">
					</div>
				</div>
					<button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Submit </button>

	</form>
</div>
</div>

</div>
